/*Adaptation aux différents écrans*/
 /* Styles spécifiques pour les écrans larges */
 @media screen and (min-width: 768px) {
    img {
max-width: 100%;
height: auto;
}

.container {
display: flex;
flex-direction: column; /* Pour les appareils mobiles */
/* Autres styles */
}

body {
font-size: 16px; /* Taille de base */
}

}

/* Styles spécifiques pour les écrans étroits (mobiles) */
@media screen and (max-width: 767px) {
    img {
max-width: 100%;
height: auto;
}

.container {
display: flex;
flex-direction: column; /* Pour les appareils mobiles */
/* Autres styles */
}

body {
font-size: 16px; /* Taille de base */
}


}
/*Fin adaptation aux différents écrans*/



/*arrière plan en degradé*/
body{
    background: linear-gradient(to top, rgb(97, 166, 234), rgb(39, 39, 247));
}

body{
    background-image: url('acceuille.jpg');
    background-size:cover; /* Ajuste l'image pour qu'elle couvre tout l'arrière-plan */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position:center; /* Centre l'image dans l'élément */
    padding: 20px; /* Ajoute un peu de padding pour le contenu */
    color:black/* Change la couleur du texte pour qu'il soit lisible sur l'image de fond */
}
.normal-text { 
    font-weight: normal; /* Annule la mise en gras */ 
}

.small-text { 
    font-size: 40px; /* Ajustez cette valeur selon vos besoins */ 
}

/*taille du boutton*/
button{
    font-size:100xp;
}

/* Zoomer boutton */
@keyframes boutonAnimation {
    0% {
        background-color: #07def182;
        transform: scale(1);
    }
    50% {
        background-color: #04ec14;
        transform: scale(1.1);
    }
    100% {
        background-color: #5eaf4c;
        transform: scale(1);
    }
}

/* Appliquer l'animation au bouton */
.animer {
    padding: 15px 25px;
    font-size: 50px;
    color: white;
    background-color: #2c2e2c;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    transition: transform 0.3s ease-in-out;
}

.animer:hover {
    animation: boutonAnimation 2s infinite;
}
/* Styles pour le pied de page */


/* CSS pour rendre le texte responsive */

.small-text {
    font-size: 3vw; /* La taille du texte s'adapte à la largeur de la fenêtre */
}

.normal-text {
    font-size: 2vw; /* La taille du texte s'adapte à la largeur de la fenêtre */
}

.img1{
    max-width: 100%; /* L'image ne dépassera pas la largeur de son conteneur */ 
    height: auto; /* La hauteur s'ajustera automatiquement pour maintenir les proportions */
    margin:auto;
}
.img2{
    position:absolute;
    top:5%;
    left:90%;
    transform: translateY(-13%);
}
button{
    margin-top:80%;
}
        
