body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:linear-gradient(to right,grey,whitesmoke);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header{
    display:flex;
    justify-content: center;
    align-items: center;
    background: #333;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

h1{
    color:white;
}
h2{
    color:green;
}

ul{
    display: flex;
    list-style-type:none;
}
li{
    margin-right: 10px;
}

fieldset{
    background-color: whitesmoke;
    padding:30px;
}

footer{
    position:absolute;
    background-color: #333;
    border:5px solid rgba(245, 245, 245, 0.463);
    bottom:0;
    width: 100%;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
