body{
    background: linear-gradient(to right, rgb(97, 166, 234), rgb(39, 39, 247));
}
body{
    background-image: url('fond\ acceuille.jpg');
    background-size: contain; /* Ajuste l'image pour qu'elle couvre tout l'arrière-plan */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image dans l'élément */
    padding: 20px; /* Ajoute un peu de padding pour le contenu */
    color:white;/* Change la couleur du texte pour qu'il soit lisible sur l'image de fond */
}

h1{
    text-align:center
}
ul{
    list-style-type:none; /*enlève les points*/
    margin:0;
    padding:0;
    color: black;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 100%;
}
li{
    float:none
}

.l1{
    margin-left: 5%;
}
.l2{
    margin-left: 7%;
}
.l3{
    margin-left: 9%;
}
.l4{
    margin-left: 11%;
}
/* Zoomer boutton */
@keyframes boutonAnimation {
    0% {
        background-color: #07def182;
        transform: scale(1);
    }
    50% {
        background-color: #043aec;
        transform: scale(1.1);
    }
    100% {
        background-color:whitesmoke;
        transform: scale(1);
    }
}

/* Appliquer l'animation au bouton */
.animer {
    padding: 10px 10px;
    font-size: 20px;
    color: rgb(35, 30, 30);
    background-color:whitesmoke;
    border:dodgerblue;
    border-radius: 25px;
    cursor:pointer;
    transition: transform 1s ease-in-out;
}

.animer:hover {
    animation: boutonAnimation 1s infinite;
}
